# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Game.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\VS Projects\University Projects\Game\.idea\.idea.Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
